.u-section-1 .u-sheet-1 {
  min-height: 1262px;
}

.u-section-1 .u-text-1 {
  margin: 21px auto 0;
}

.u-section-1 .u-group-1 {
  width: 522px;
  min-height: 406px;
  animation-duration: 1000ms;
  height: auto;
  margin: 92px auto 0 24px;
}

.u-section-1 .u-text-2 {
  margin: 0 auto 0 199px;
}

.u-section-1 .u-text-3 {
  margin: 21px 0 0;
}

.u-section-1 .u-group-2 {
  width: 544px;
  min-height: 419px;
  margin: -467px 23px 0 auto;
}

.u-section-1 .u-shape-1 {
  height: 419px;
  margin-top: 47px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  width: 435px;
  height: 298px;
  margin: -358px auto 0;
}

.u-section-1 .u-group-3 {
  width: 523px;
  min-height: 521px;
  animation-duration: 1000ms;
  height: auto;
  margin: 182px 13px 0 auto;
}

.u-section-1 .u-text-4 {
  margin: 0 234px 0 185px;
}

.u-section-1 .u-text-5 {
  margin: 21px 0 0;
}

.u-section-1 .u-shape-2 {
  width: 544px;
  height: 419px;
  margin: -469px auto 0 13px;
}

.u-section-1 .u-image-2 {
  width: 435px;
  height: 298px;
  margin: -358px auto 60px 52px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 6px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 45px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 87px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 18px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: 52px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1080px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 189px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 130px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 233px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 152px;
    margin-left: 120px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
    margin-top: -136px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 233px;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 526px;
}

.u-section-2 .u-group-1 {
  width: 545px;
  min-height: 320px;
  animation-duration: 1000ms;
  margin: 97px auto 0 0;
}

.u-section-2 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 22px auto 0 0;
}

.u-section-2 .u-shape-1 {
  width: 544px;
  height: 419px;
  margin: -369px 0 0 auto;
}

.u-section-2 .u-image-1 {
  width: 443px;
  height: 298px;
  margin: -358px 51px 60px auto;
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 228px;
    margin-right: 0;
  }
}